<section id="clients" class="px-6 md:px-20 py-24 bg-gradient-to-b from-blue-950 to-black text-white">
  
    <!-- Conteúdo da seção -->
    <div class="relative max-w-6xl mx-auto px-6 text-center z-10">
      <h2 class="text-3xl md:text-4xl font-bold mb-10">Parceiros que Confiam na AlphaBioma</h2>
  
      <div class="flex flex-wrap justify-center items-center gap-x-10 gap-y-6">
        <!-- Logo 1 
        <img src="/assets/logos/Vetanco-Logo-WB.png"
             alt="Logo da Vetanco"
             class="h-20 max-w-[300px]" /> -->
  
        <!-- Logo 2 
        <img src="/assets/logos/AnimalNutri.jpg"
             alt="Logo da AnimalNutri"
             class="h-20 max-w-[300px]" /> -->
      </div>
    </div>
  </section>
  