<section id="insights" class="px-6 md:px-20 py-24 bg-black text-white">
    <div class="max-w-6xl mx-auto text-center space-y-12">
      <h2 class="text-4xl font-extrabold">Novos Insights</h2>
      <p class="text-lg text-gray-300">O que estamos aprendendo e compartilhando sobre microbiota e dados na produção animal</p>
  
      <div class="grid md:grid-cols-2 gap-10 mt-10 text-left">
        
        <!-- Insight 1 -->
        <div class="bg-white/5 p-5 rounded-2xl shadow-md hover:shadow-xl transition duration-300 flex flex-col items-start">
            <img src="/assets/insights/prebiotic.png" 
            alt="Imagem sobre fibras e prebióticos" 
            class="w-full aspect-video object-contain rounded-lg mb-5 border border-white/10">       
          <span class="text-sm text-blue-400">Microbiota</span>
          <h3 class="text-xl font-semibold mt-2 mb-2">Ainda chamando qualquer fibra de prebiótico? Tá na hora de parar</h3>
          <p class="text-sm text-gray-300">Nem toda fibra é um prebiótico. A gente precisa olhar além da fermentação e entender a função microbiana no contexto da saúde animal.</p>
          <a href="https://www.linkedin.com/pulse/ainda-chamando-qualquer-fibra-de-prebi%C3%B3tico-t%C3%A1-na-hora-parar-ep4kc/"
             class="mt-4 text-blue-400 hover:text-blue-200 text-sm font-medium" target="_blank" rel="noopener noreferrer">
            Leia mais no LinkedIn →
          </a>
        </div>
  
        <!-- Insight 2 -->
        <div class="bg-white/5 p-5 rounded-2xl shadow-md hover:shadow-xl transition duration-300 flex flex-col items-start">
          <img src="/assets/insights/pvalue.gif" alt="Gráfico explicando value p"
          class="w-full aspect-video object-contain rounded-lg mb-5 border border-white/10"> 
          <span class="text-sm text-blue-400">Ciência de Dados Aplicada</span>
          <h3 class="text-xl font-semibold mt-2 mb-2">O segredo atrás do value p?</h3>
          <p class="text-sm text-gray-300">Não é só sobre a dieta — às vezes, o que realmente define se o resultado vai ser significativo é o tamanho da amostra, o efeito observado e como você interpreta o valor de P.</p>
          <a href="https://www.linkedin.com/posts/sudarioroberto_swine-swinenutriton-statistics-activity-7241144686604644352-asVr"
             class="mt-4 text-blue-400 hover:text-blue-200 text-sm font-medium" target="_blank" rel="noopener noreferrer">
            Leia mais no LinkedIn →
          </a>
        </div>
  
      </div>
    </div>
  </section>
  